<h1>Teams</h1>
<table>
  <tr>
    <th>Team Name</th>
<tr>
<a href='/teams/add_team'>Add Team</a>
</tr>
  </tr>
    <% for team in @teams %>
  <tr>
    <td>
      <a href='/teams/<%team.id%>'>
      <%= team.name.capitalize %>
      </a>
    </td>
  </tr>
  <%end  %>
</table>
