<h2><%= @team.name %></h2>
<p>team page</p>

<table>
  <head>Away Games</head>
  <tr>
    <th>Opponent</th>
    <th>Winner</th>
  </tr>
<% team_names = @team.get_opponent_away_games %>
<% for team_name in team_names %>
 <tr>
   <td><%= team_name%></th>
   <td> placeholder</th>
 </tr>
<%end  %>
<tr>

</tr>

</table>
<hr>

<form action="/teams/<%=@team.id%>/delete" method="post">
  <input type="submit" name="delete" value="Delete Team">
</form>
<hr>
<form action="/teams/<%=@team.id%>/update" method="post">
  <input type="text" name="name" id="name">
  <input type="submit" value="Edit Team Name">
</form>
</table>
