<h1>Bloodbowl League Manager</h1>
<p class="homescr">The astro-granite is prepared</p>
<p class="homescr">The teams are ready</p>
<p class="homescr">The bribes are in</p>
<p class="homescr">And the referee is still alive</p>
<p class="homescr">so</p>
<p class="homescr">Lets get ready to rumble!</p>
