<div class="splash_page">

<h1>Bloodbowl League Manager</h1>
<p>The astro-granite is prepared</p>
<p>The teams are ready</p>
<p>The bribes are in and the referee is still alive</p>
<p>so</p>
<p>Lets get ready to rumble!</p>

</div>
