<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Bloodbowl League Manager</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <div class="nav">
    <ul class="banner">
      <li><a href='/'>Home</a></li>
      <li><a href='/teams'>View Teams</a></li>
      <li><a href='/games'>View Games</a></li>
    </ul>
  </div>
  <section id='content'>
    <%= yield %>
  </section>
</body>
</html>
