<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Bloodbowl League Manager</title>
</head>
<body>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/teams'>View Team</a></li>
    <li><a href='/games'>View Games</a></li>
  </ul>
  <section id='content'>
    <%= yield %>
  </section>
</body>
</html>
