<h1>Games Played</h1>
<table>
  <tr>
    <a href='/games/add_game'>Log game</a>
  </tr>
  <tr>
    <th>Team A</th>
    <th>Team B</th>
    <th>Winner</th>
  </tr>
  <% for game in @games %>
  <tr>
    <td><a href='/games/<%game.id%>'>
    <%= game.team(game.team_a, "team_a").name %></a>
  </td>
    <td><a href='/games/<%game.id%>'>
    <%= game.team(game.team_b, "team_b").name %></a>
  </td>
    <td><a href='/games/<%game.id%>'>
    <%= game.team(game.winner, "winner").name %></a>
  </td>

  </tr>

  <% end %>

</table>
