body {
background: black url('/images/background.jpg');
background-size: 100%;
background-repeat: no-repeat;
color: papayawhip;
font-family: Arial, serif;
padding: 0px;
margin: 0px;
}
h1 {
  color:red;
  font-size: 3em;
  background: #FFE787;
  text-align: center;
  text-decoration: underline;
}
.banner {
  background-color: white;
  text-align: center;
}
.homescr {
  color:white;
  text-align: center;
  font-size: 2em;
}
p {
  text-align: center;
}
table {
  text-align: center;
  font-size: 2em;
  position: relative;
}
